{% extends 'user/base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center">Home page</h1>
<div class="container">
    <div class="row">
        
        {% for p in posts %}
        <div class="col-sm-4">
            <div class="card">
                
                {% if p.featured_image %}
                <img src="{{ p.featured_image.url }}" class="img-fluid">
                {% else %}
                <img src="https://dummyimage.com/150x150.png?text=Post" class="img-fluid">
                {% endif %} 
                <div class="card-body">
                    <div class="mt-2 mb-2">
                        <span>
                            <img src="{% static 'icons/user.svg' %}" style="height: 16px;"> {{ p.author }}
                        </span>
                        <span>
                            <img src="{% static 'icons/clock.svg' %}" style="height: 16px;"> {{ p.created_on|timesince }} ago
                        </span>
                    </div>
                    <a href="{% url 'viewpost' url=p.url %}"><h5 class="card-title">{{ p.title }}</h5></a>
                    <p class="card-text">{{ p.description|slice:150 }}...</p>
                </div>
            </div>
        </div>
        {% endfor %}
            
    </div>
</div>
{% endblock content %}