{% extends 'book/base.html' %}

{% block content %}
    <h1 class="text-center">Create Book</h1>

    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{ form.name.label }}</label>
                        {{ form.name }}         
                    </div>
                    {% if form.name.errors %}
                        <div class="text-danger">
                            <ul>
                                {% for e in form.name.errors %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{ form.author.label }}</label>
                        {{ form.author }}
                    </div>
                    {% if form.author.errors %}
                        <div class="text-danger">
                            <ul>
                                {% for e in form.author.errors %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    {% if form.description.errors %}
                        <div class="text-danger">
                            <ul>
                                {% for e in form.description.errors %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ form.price.label }}</label>
                        {{ form.price }}
                    </div>
                    {% if form.price.errors %}
                        <div class="text-danger">
                            <ul>
                                {% for e in form.price.errors %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ form.published_on.label }}</label>
                        {{ form.published_on }}
                    </div>
                    {% if form.published_on.errors %}
                        <div class="text-danger">
                            <ul>
                                {% for e in form.published_on.errors %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>{{ form.category.label }}</label>
                        {{ form.category }}
                    </div>
                    {% if form.category.errors %}
                        <div class="text-danger">
                            <ul>
                                {% for e in form.category.errors %}
                                    <li>{{ e }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </form>
    </div>
{% endblock content %}
    